node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
.idea/
auth.json
functions/.runtimeconfig.json
functions/google.json
functions/credentials.json
pdfs
functions/node_modules/**/*
